.App {
  background: pink;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.app-right-section {
  width: 100%;
}

.sidebar {
  height: 100vh;
  width: 25%;
  background-color: darkblue;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: darkblue;
  padding-left: 8px;
  padding-right: 8px;
  color: wheat;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid black;
  height: 25px;
  width: 25px;
  cursor: pointer;
  font-weight: 700;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.w-icons {
  width: 100px;
  height: 100px;
}

.text-w-1 {
  font-weight: 600;
  font-size: 20px;
}

.text-w-2 {
  font-weight: 600;
  font-size: 30px;
}

.text-w-3 {
  font-weight: 600;
  font-size: 40px;
}

.text-w-4 {
  font-weight: 600;
  font-size: 60px;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.p-0{
  padding: 10px;
}

.p-1{
  padding: 20px;
}

.p-2{
  padding: 30px;
}